#leftPosition{
  text-align: center;
  float: left;
  margin: 5px;
  width: 75%;
  height: 350px;
  color: white;
}
.main a{
  color: greenyellow;
}
.main img{
  width: 32%;
  float: left;
  margin-left: 5px;
  border: 1px solid greenyellow;
}
.main img:hover {
  opacity: 0.5;
}
#rightPosition{
  text-align: center;
  float: left;
  margin: 5px;
  width: 20%;
  height: 350px;
  color: white;
}